@model List<RunModel>

@{
    ViewData["Title"] = "Home Page";
}

@section IndexStyles {
    <style>
        #runs-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
            width: 100%;
            gap: 1rem;
            padding-left: 1rem;
            padding-right: 1rem;
        }

        .run {
            position: relative;
            max-width: 400px;
            height: 500px;
            border-radius: 2px;

            perspective: 2500px;
        }

        .flip-container {
            position: relative;
            width: 100%;
            height: 100%;
            transition: transform .8s;
            transform-style: preserve-3d;
            background-color: #f0f0f0;
            /* outline: 2px solid #333333; */
        }

        .run .flip-container.flipped {
            transform: rotateY(180deg);
        }

        .run .front, .run .back {
            position: absolute;
            top: 0;
            left: 0;
            padding: 2rem;
            height: 100%;
            width: 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }

        .run .back {
            transform: rotateY(180deg);
        }

        .date {
            position: absolute;
            top: 2rem;
            right: 2rem;
        }

        .route, .distance, .pace {
            font-size: 2rem;
        }

        .route {
            position: relative;
            padding-bottom: 1rem;
        }

        .distance {
            margin-top: 1.5rem;
        }

        .route::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 50px;
            height: 1px;
            background-color: #333333;
        }

        .notes {
            /* display: none; */
        }

    </style>
}

@section IndexScripts {
    <script>
        $(() => {
            $(".run").each(function(i, obj) {
                $(obj).on("click", () => {
                    var flip = obj.querySelector(".flip-container");
                    flip.classList.toggle("flipped");
                    // console.dir(flip);
                    // obj.classlist.toggle("")
                });
            });
        });
    </script>
}

@if (Model.Count != 0)
{
    <div id="runs-container">

        @foreach (var run in Model)
        {
            DateOnly date = DateOnly.FromDateTime(run.Date);

            <div class="run clickable">
                <div class="flip-container">
                    <div class="front">
                        <div class="date">@date.ToString()</div>
                        <div class="route">@run.Route</div>
                        <div class="distance">@run.Distance miles</div>
                        <div class="pace">@run.PaceMinutes:@run.PaceSeconds.ToString("D2") per mile</div>
                        <a href="@Url.Action("DeleteRun", "Home", new { id = run.Run_Id })"><i class="fa-solid fa-trash"></i></a>
                        <a href="@Url.Action("UpdateRun", "Home", new { id = run.Run_Id })"><i class="fa-solid fa-pen"></i></a>
                    </div>
                    <div class="back">
                        <div class="notes">@run.Notes</div>
                    </div>
                </div>
            </div>
        }
    </div>

}





